* {
  color: black;
}

#directors__wrapper {
  width: auto;
  max-height: 95%;
  white-space: nowrap;
  margin-bottom: 2vh;
}

#analysis__content {
  padding: 2vh;
}

#analysis__root {
  padding-bottom: 5vw;
}

#analysis__root a.nav-link {
  color: black;
}

.title {
  font-size: 2.5vw;
  font-family: abril-display, serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(0, 0, 0);
  margin-bottom: 5vh;
}

.sub__title {
  font-size: 1.5vw;
  padding: 5vw;
}

.directorName {
  font-family: abril-display, serif;
}

.movieTitle {
  font-family: abril-display, serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.5vw;
}

.roundedBg {
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
}

.rec__name {
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  padding: 1vw;
}

#recommendation__wrapper {
  padding-top: 1vh;
  padding-bottom: 5vh;
}
