#directors__wrapper {
  width: auto;
  max-height: 95%;
  white-space: nowrap;
  margin-bottom: 2vh;
}

#analysis__content {
  color: rgb(90, 90, 90);
}

#analysis__content button.btn.btn-primary:hover {
  background-color: rgb(147, 117, 255);
}
#analysis__root {
  padding-bottom: 5vw;
}

.movieTitle {
  font-family: GoshaSans-Regular, sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  color: rgb(130, 75, 219);
}

.rec__name {
  background-color: rgb(231, 206, 255);
  border-radius: 15px;
  padding: 1vw;
  font-family: GoshaSans-Regular, sans-serif;
  color: rgb(130, 75, 219);
}

#recommendation__wrapper {
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.movieGenre {
  font-family: GoshaSans-Regular, sans-serif;
  color: rgb(130, 75, 219);
}

#analysis__content button {
  border-radius: 5px;
  border-color: rgb(161, 103, 255);
  background-color: white;
  color: rgb(130, 75, 219);
}

#analysis__content button:hover {
  border-color: rgb(161, 103, 255);
  background-color: rgb(194, 142, 255);
  color: white;
}
