html,
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#director_name {
  font-size: 10vw;
}

.indiv_poster {
  /* transform: scale3d(0.8, 0.8, 0.8); */
}
