html,
body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.center__container {
  /* for center */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

#main__wrapper.a#nav-dropdown {
  color: white;
  background-color: black;
}

#main__wrapper.dropdown-menu.show {
  background-color: black;
}

.dropdown-item:hover {
  background-color: rgb(251, 137, 255);
  border: 1px white solid;
}

#director_name {
  font-size: 6vw;
  font-family: GoshaSans-Bold, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #9227ff;
  animation: pulsate 5s infinite alternate;
  position: absolute;
}

.indiv_poster {
  transform: scale3d(0.13, 0.13, 0.13);
}

#footer {
  position: absolute;
  top: 10%;
  left: 90%;
  width: 100%;
}

#footer button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid white;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 0.8vw;
  margin-bottom: 1vw;
}

#footer button:hover {
  border: 1px dashed #0fa;
}

.min-vh-90 {
  min-height: 90vh;
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 10px #ff9a24,
      0 0 10px #ff9a24, 0 0 20px #ff9a24, 0 0 15px #ff9a24, 0 0 20px #ff9a24;
  }
  0% {
    /* Smaller blur radius */
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 5px #ff9a24,
      0 0 15px #ff9a24, 0 0 20px #ff9a24, 0 0 30px #ff9a24, 0 0 20px #ff9a24;
  }
}

.vline {
  border-left: 0.5px solid rgb(255, 255, 255);
  height: 85vh;
  margin-left: -85%;
  position: absolute;
}

.vline span {
  margin-left: 25px;
  font-size: 0.8vw;
}

#x__axis {
  color: white;
  border: 0.5px white solid;
  width: 95vw;
  margin-top: 85vh;
  position: absolute;
}

#x__axis__label {
  margin-top: 90vh;
  position: absolute;
  font-size: 0.8vw;
}

#vis__text span {
  color: rgb(255, 255, 255);
}

.article__snippet {
  width: 18%;
  position: absolute;
  background-color: rgba(220, 200, 255, 0.288);
  border: 1px rgba(255, 255, 255, 0.137) solid;
  padding: 0.5vw;
  font-size: 0.9vw;
  display: block;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.article__snippet:hover {
  border: 1px rgb(255, 255, 255) dashed;
  background-color: rgba(255, 255, 255, 0.733);
}

.article__snippet p {
  color: rgba(127, 104, 141, 0.596);
}

.article__snippet p:hover {
  color: rgb(119, 83, 122);
}

.article__snippet a {
  color: rgba(127, 104, 141, 0.596);
  font-size: 0.8vw;
}

.article__snippet a:hover {
  color: rgb(121, 66, 126);
}
