.firstname {
  font-family: neon;
  color: #ffffff;
  font-size: 5vw;
  text-shadow: 0 0 3vw #9227ff;
}

.lastname {
  font-family: neon;
  color: #426dfb;
  font-size: 5vw;
  text-shadow: 0 0 3vw #2356ff;
}

.firstname {
  animation: firstname 4s ease infinite;
  -moz-animation: firstname 4s ease infinite;
  -webkit-animation: firstname 4s ease infinite;
}

.lastname {
  animation: lastname 2s linear infinite;
  -moz-animation: lastname 3s linear infinite;
  -webkit-animation: lastname 5s linear infinite;
  -o-animation: lastname 2s linear infinite;
}

@keyframes firstname {
  0%,
  100% {
    text-shadow: 0 0 1vw #952efc, 0 0 3vw #6e02dc, 0 0 10vw #6e02dc,
      0 0 10vw #6e02dc, 0 0 0.4vw #ffffff, 0.5vw 0.5vw 0.1vw #8912ff;
    color: #ffffff;
  }
  50% {
    text-shadow: 0 0 0.5vw #b18cff, 0 0 1.5vw #b18cff, 0 0 5vw #4f039b,
      0 0 5vw #4f039b, 0 0 0.2vw #4f039b, 0.5vw 0.5vw 0.1vw #b18cff;
    color: #cfcfcf;
  }
}

@keyframes lastname {
  0%,
  100% {
    text-shadow: 0 0 1vw #2848b4, 0 0 3vw #0f2a81, 0 0 10vw #2848b4,
      0 0 10vw #2848b4, 0 0 0.4vw #2848b4, 0.5vw 0.5vw 0.1vw #234bcc;
    color: #09d2ff;
  }
  50% {
    text-shadow: 0 0 0.5vw #2848b4, 0 0 1.5vw #2648b8, 0 0 5vw #2c38dd,
      0 0 5vw #2c38dd, 0 0 0.2vw #2c38dd, 0.5vw 0.5vw 0.1vw #2848b4;
    color: #09d2ff5d;
  }
}
