* {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  scroll-behavior: smooth;
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  margin-bottom: 1vw;
}

h3 {
  margin-bottom: 1vw;
}

span {
  font-family: GoshaSans-Regular, sans-serif;
}

p {
  font-size: 1vw;
  font-family: halyard-display, sans-serif;
  line-height: 1.2em;
}

button {
  font-family: halyard-display, sans-serif;
  padding: 0.5vw;
  font-size: 1vw;
}

img {
  padding: 1vw;
}

svg {
  padding: none;
  margin: none;
}

button.btn {
  font-size: 1vw;
}

button.accordion {
  font-size: 1vw;
}

button.accordion-button {
  color: rgb(106, 51, 194);
}

a {
  color: rgb(255, 255, 255);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 1.2vw;
  font-family: GoshaSans-Regular, sans-serif;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
  margin: 1vw;
}

a.active {
  background-color: rgb(130, 75, 219);
  transform: rotate(0.5turn);
}

a:hover {
  background-color: rgb(147, 117, 255);
}

.title {
  font-size: 3vw;
  font-family: GoshaSans-Bold, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(130, 75, 219);
  margin-left: 1vw;
}

#analysis__content .title {
  margin-bottom: 1vw;
}

.sub__title {
  font-size: 1.5vw;
  padding: 5vw;
  font-family: GoshaSans-Bold, sans-serif;
  color: rgb(130, 75, 219);
}

.roundedBg {
  background-color: rgb(242, 244, 255);
  border-radius: 18px;
  overflow-x: scroll;
}

.content__wrapper {
  padding: 2vh;
  padding-top: 2vh;
}

.directorName {
  font-family: GoshaSans-Bold, sans-serif;
  color: rgb(130, 75, 219);
}

#catalog__content .directorName {
  font-family: GoshaSans-Regular, sans-serif;
  font-size: 1vw;
}

.section__title {
  font-family: GoshaSans-Bold, sans-serif;
  font-size: 1.5vw;
}

hr {
  color: rgb(75, 60, 100);
}

.page__description {
  width: 48%;
  margin-left: 1vw;
  font-size: 1.2vw;
  margin-bottom: 1vw;
}

#catalog__content button {
  background-color: white;
  border: 1px solid rgb(130, 75, 219);
  color: rgb(130, 75, 219);
  font-size: 1vw;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#catalog__content button:hover {
  border: 1px dashed rgb(184, 98, 255);
  background-color: rgb(233, 132, 236);
}

#loading__screen {
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.letters span {
  font-family: GoshaSans-Bold, sans-serif;
  color: rgb(127, 61, 233);
  font-size: 5vw;
}

.load-text {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.load-text .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.load-text .letter {
  display: inline-block;
  line-height: 1em;
}

h1 {
  font-family: GoshaSans-Bold, sans-serif;
  font-size: 5vw;
}
